/* highscoresstyles.css */
@font-face {
  font-family: "pixel";
  src: url("assets/fonts/Pixel/PublicPixel.ttf");
}

@font-face {
  font-family: "broken";
  src: url("assets/fonts/BrokenConsole/Broken\ Console\ Regular.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold\ Shadow.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold.ttf")
      format("woff");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
}

h1 {
  font-family: "broken";
  color: #000000;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: solid white 4px;
  
}

main {
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

a {
  display: block;
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
}

a:hover {
  background-color: transparent;
}

#clearButton, .menu {
  font-family: 'pixel';
  display: block;
  font-size: 1.5rem;
  background-color: transparent;
  color: #111;
  cursor: pointer;
  margin-top: 10px;
}

#clearButton {
  padding-top: 5px;
  display: inline-block;
  border-top: solid rgb(255, 255, 255) 4px;
}

#clearButton:hover {
  background-color: transparent;
  color: #9c01d0;
}

.menu:hover {
  background-color: transparent;
  color: #9c01d0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'pixel';
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;
  background-color: rgb(66, 55, 195);
  border-radius: 10px;
}
