canvas {
  box-shadow: black 20px 10px 50px;
}

h1 {
  margin: 0px;
  margin-bottom: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

#playlist-container {
  min-height: 360px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.Btns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
justify-content: center;
}

.restart-container {
display: flex;
justify-content: center;
}

.restartBtn {
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
  display: none;
}

.menuBtn {
  margin-top: 10px;
  width: 49%;
  cursor: pointer;
}