@font-face {
  font-family: "pixel";
  src: url("assets/fonts/Pixel/PublicPixel.ttf");
}

@font-face {
  font-family: "broken";
  src: url("assets/fonts/BrokenConsole/Broken\ Console\ Regular.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold\ Shadow.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold.ttf")
      format("woff");
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  font-family: "broken", "Press Start 2P"; /* If using an arcade-like font */
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: black 3px solid;
  
}

#arcade-menu {
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#arcade-menu a:hover {
  background-color: transparent;
  color: #9c01d0;
}

#arcade-menu #Music:hover {
  background-color: transparent;
  color: #9c01d0;
}

#Music {
cursor: pointer;
display: inline-block;
padding-top: 1rem;
}
