@font-face {
  font-family: "pixel";
  src: url("assets/fonts/Pixel/PublicPixel.ttf");
}

@font-face {
  font-family: "broken";
  src: url("assets/fonts/BrokenConsole/Broken\ Console\ Regular.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold\ Shadow.ttf")
      format("woff"),
    url("assets/fonts/BrokenConsole/Broken\ Console\ Bold.ttf") format("woff");
}

canvas {
  box-shadow: rgb(0, 27, 125) 20px 10px 50px;
}

h1 {
  font-family: "broken";
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #87ceeb, #00008b);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 94, 246, 0.8);
}

body {
  background-color: #111111;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

#playlist-container {
  min-height: 360px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.Btns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.restart-container {
  display: flex;
  justify-content: center;
}

.restartBtn {
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
  display: none;
}

.menuBtn {
  margin-top: 10px;
  width: 49%;
  cursor: pointer;
}

#user-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
